#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
[Interface]
{% if wireguard[_iface.key].interface.address is defined %}
Address = {{wireguard[_iface.key].interface.address}}
{% elif wireguard[_iface.key].interface.addresses is defined %}
  {% for _address in wireguard[_iface.key].interface.addresses %}
Address = {{_address}}
  {% endfor %}
{% endif %}
{% if wireguard[_iface.key].interface.listen_port is defined %}
ListenPort = {{wireguard[_iface.key].interface.listen_port}}
{% endif %}
{% if wireguard[_iface.key].interface.dns is defined %}
DNS = {{wireguard[_iface.key].interface.dns}}
{% endif %}
{% if wireguard[_iface.key].interface.mtu is defined %}
MTU = {{wireguard[_iface.key].interface.mtu}}
{% endif %}
{% if wireguard[_iface.key].interface.table is defined %}
Table = {{wireguard[_iface.key].interface.table}}
{% endif %}
{% if wireguard[_iface.key].interface.pre_up is defined %}
PreUp = {{wireguard[_iface.key].interface.pre_up}}
{% endif %}
{% if wireguard[_iface.key].interface.post_up is defined %}
PostUp = {{wireguard[_iface.key].interface.post_up}}
{% endif %}
{% if wireguard[_iface.key].interface.pre_down is defined %}
PreDown = {{wireguard[_iface.key].interface.pre_down}}
{% endif %}
{% if wireguard[_iface.key].interface.post_down is defined %}
PostDown = {{wireguard[_iface.key].interface.post_down}}
{% endif %}
PrivateKey = {{_wg_private_key['content']|b64decode}}

{% if wireguard[_iface.key].peers is defined %}
  {% for _peer in wireguard[_iface.key].peers %}

# {{_peer}}
[Peer]
PublicKey = {{wireguard[_iface.key].peers[_peer].public_key}}
AllowedIPs = {{wireguard[_iface.key].peers[_peer].allowed_ips|default('["0.0.0.0/0","::/0"]')|join(', ')}}
   {% if wireguard[_iface.key].peers[_peer].endpoint is defined %}
Endpoint = {{wireguard[_iface.key].peers[_peer].endpoint}}
   {% endif %}
   {% if wireguard[_iface.key].peers[_peer].persistent_keepalive is defined %}
PersistentKeepalive = {{wireguard[_iface.key].peers[_peer].persistent_keepalive}}
   {% endif %}
  {% endfor %}
{% endif %}
